.Link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(70, 70, 70);
}
/* 
.Link .Home a {
    color: black;
} */
/* 
.Link .Home .IconInfo {
    margin-left: 8px;
    height: 20px;
    width: 20px;
} */

/* .Link .Menu {

} */
.Link .Home a {
    display: flex;
}

.Link .Home a h2 {
    margin-left: 8px;
    margin-top: 4px;
    font-size: 20px;
}

.Link .Menu a {
    color: rgb(70, 70, 70);
    margin-left: 12px;
    font-size: 18px;
}

.Link .Menu {
    margin-right: 50px;
}

.Link .Log a {
    color: rgb(70, 70, 70);
    font-size: 80%;
    margin-right: 14px;
}

.body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
